@import "standart";
@import "variables";

/*===========STYLES FILES==========*/
@import "main";
@import "selectboxes";

/*=================================*/

body {
  background-color: $base-color;
}

.container {
  margin-top: 20px;
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
