/*COLORS*/
$base-color: #EFF0F3;
$card-border-color: #bfc0c4;
$running-serial-color: #2ECC71;
$ended-serial-color: #F8593B;

$card-color: white;
$primary-color: #007AE9;
/*FONTS*/
$film-card-h2: "DM Serif Display";